/* style for background*/
body {
  background: url("../img/geometry2.png");
}


/* style for title header */
.title {
  text-align: center;
  font-style: Jazz LET;
  color: lightgreen;
}

/* style for card container */
.container {
  max-width: 950px;
}

/* style for cards*/
.card {
  float: left;
  text-align: center;
  font-size: 40px;
  margin: 10px;
  height: 150px;
  line-height: 150px;
  width: 200px;
  box-shadow: 20px 20px 10px grey;
  background: linear-gradient(lightgreen, lightblue);
}

/* style for clock timer*/
.clock {
  font-size: 1em;
}

/* stle for move count */
.moves {
  font-size: 1em;
}

/* style for rating stars*/
.stars {
  font-size: 1em;
}

/* style for buttons */
.buttons {
  display: block;
  text-align: center;
}

/* style for all counters */
.counters {
  display: block;
  text-align:center;
}

/* style for text */
.bold {
  font-weight: bold;
}
