
/* style for H1 header*/
h1{
  text-align: center;
  font-style: Jazz LET;

}

/* style for cards*/
.card {
  float: left;
  margin: 10px;
  height: 150px;
  width: 200px;
  box-shadow: 20px 20px 10px grey;
  background: linear-gradient(lightgreen, lightblue);
}

.clock {
  font-size: 1em;
}

.moves {
  font-size: 1em;
}

.buttons{
  display: block;
}
